<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/songbird/src/org/sadrobot/SadRobot.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.sadrobot.SadRobotServer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="songbird"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dactors.enableForkJoin=false"/>
</launchConfiguration>
